.review__poster {
  object-fit: contain;
  margin-bottom: 10px;
  height: 150px;
  margin-left: 2vw;
}

.review__avatar {
  object-fit: contain;
  border-radius: 10px;
  height: 30px;
}

.loading__spinner {
  margin: 15% 50%;
}

.review__poster {
  margin-right: 1vw;
}
